* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: aqua;
    min-width: 300px;
}

html {
    font-size: 16px;
}

section {
    height: 100vh;
}

.scorekeeper {
    align-self: center;
    position: relative;
    margin: 30px auto;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    background-color: red;
}

.scorekeeper p {
    width: 100%;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(39, 208, 45);
}

.scoreValue {
    font-size: 2.5rem;
    font-size: 30px;
    padding-right: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 2px; */
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
    flex-basis: 200px;
    background-color: blueviolet;
    margin: 0 auto;
    min-width: 300;
}


.flex-container button {
    width: 100px;
    height: 100px;
    min-width: 25%;
}

.hide-cursor {
    pointer-events: none;
    cursor: not-allowed; /* Set a specific cursor type */
}

.unhide-cursor {
    pointer-events: auto;
    cursor: auto;
}

.buttonObj {
    font-size: 2rem;
}

#load {
    font-size: 24px;
}

#restart {
    font-size: 20px;
    /* height: 100 */
}

@media all and (min-width: 815px) {
    .flex-container button {
        width: 100px;
        height: 100px;
        min-width: 25%;
        /* flex-grow: 1;
        flex-shrink: 1; */
    }
 }

@media all and (min-width: 620px) and (max-width: 815px) { 
    .flex-container button {
        width: 75px;
        height: 75px;
        min-width: 25%;
        /* flex-grow: 1; */
        flex-shrink: 1;
    }
}

@media all and (min-width: 420px) and (max-width: 620px) { 
    .flex-container button {
        width: 50px;
        height: 50px;
        min-width: 25%;
        /* flex-grow: 1;
        flex-shrink: 1; */
    }
}

@media all and (max-width: 420px) { 
    .flex-container button {
        width: 25px;
        height: 25px;
        min-width: 25%;
        /* flex-grow: 1;
        flex-shrink: 1; */
    }
}

@media all and (max-width: 300px) { 
    body {
        resize: none;
    }
}