* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(98, 156, 255);
}

button {
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.chatbox {
    width: 25%;
    align-self: center;
    /* color: red; */
}

.chatbox p {
    padding: 0 15% 30%; /* 0% top, 15% left and right, 30% bottom */
    text-align: center;
}

.chatbox p i {
    color: rgb(208, 102, 102);
}

.game-grid {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    gap: 40px;
    height: 80%;
}

.control-button {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.game-emojibutton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    height: 100%;
    width: 90%;
    /* padding: 0 auto; */
}

.game-emojibutton button {
    /* min-width: 25%; */
    width: 20%;
    height: calc(100% - width);
}

.game-info {
    width: 25%;
    align-self: flex-start;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: flex-start;
    height: 100vh;
}

/* .personal-info .best-record {
    align-self: center;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .chatbox {
        color: blue;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    
    .container {
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .chatbox {
        color: rgb(44, 131, 131);
        height: 20%;
        /* letter-spacing: 2px; */
        text-wrap: wrap;
        /* font-size: 25px; */
        width: 75%;
        align-self: center;
        
    }

    .chatbox p {
        margin-top: 50px;
        font-size: 30px;
    }

    .game-grid {
        height: 50%;
    }

    .control-button {
        margin-top: 2rem;
        gap: 20px;
    }

    .game-emojibutton {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        height: 100%;
        width: 100%;
    }

    .game-info {
        height: 30%;
        width: 100%;
    }

    .personal-info {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 70px;
        height: 100%;
    }

    .personal-info .best-record {
        align-self: flex-start;
    }
}
